@media (max-width: 768px) {
    .box {
        width: 80%;
    }
    .table {
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }
    .web p {
        margin-top: 7%;
        margin-bottom: 7%;
    }
    .app p {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .web{
        margin-top: 15px;
    }
    .form-group input{
        width: 100%;
    }
    .search{
        width: 90%;
        height: 60px;
        right: auto;
        top: 75px;
        justify-content: space-around;
    }
    .searchbar{
        width: 70%;
        height: 50px;
    }
    .filterbutton {
        width: 50px;
        height: 50px;
    }
    .search img {
        width: 30px;
        height: 30px;
    }
    .navbar{
        flex-direction: row;
        justify-content: space-around;
        width: 90%;
        height: 60px;
        top: 10px;
    }
    .navbar img {
        width: 30px;
        height: 30px;
        object-fit: fill;
    }
    .navbar .icon {
        width: 45px;
        height: 45px;
        align-items: center;
        justify-content: center;
        margin-top: -15px;
    }

    .info{
        flex-direction: row;
        justify-content: space-around;
        width: 95%;
        height: 70px;
        bottom: 20px;
    }

    .info div {
        margin-top: 5%;
    }

    .info button {
        margin: 1%;
    }
}